body{
    font-family: "Baloo Tamma 2";
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: lightseagreen;
    cursor: pointer;
    
  }
  
.textBox{
    width: 40px;
    height: 15px;
    margin: 5px;
    background-color: lightgrey;
    text-align: center;
}

.slideInfo,h1,h3{
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 0 auto;
  margin: 30px;
  max-width: 40%;
  align-items: center;
  border: solid 1px #555;
  border-radius: 1em;
}  

.colorRGB{
  background-color: black;
  margin: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid #555;
}

p{
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  max-width: 45.5%;
  align-items: center;
}

