.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.population{
    min-width: 180px;
    margin-left: 10;
    margin-right: 10;
}

.country{
    min-width: 100px;
    margin-left: 10;
    margin-right: 10;
}